.centraliza-nome {
    margin-top: 9vh;
    margin-bottom: 5vh;
    margin-left: 52px;

}
// FOTO
.foto-perfil {
    width: 100px;
    height: auto;
    border-radius: 100px;
    box-shadow: 1px 0px 4px #20a2bf;
    transition: transform 0.3s;
}

.foto-perfil:hover {
    transform: scaleX(-1);
}




// NOME E ICONE
.span-nome {
    color: white;
    font-size: 30px;
    font-family: 'VT323', monospace;
}

.span-icone {
    width: 16px;
    height: auto;
    margin-top: -15px;
}

.div-nome-icone {
    margin-top: 20px;
}



