.fa-brands {
    color: rgb(10, 10, 10);
    font-size: 30px;
}
.fa-solid {
    color: rgb(10, 10, 10);
    font-size: 30px;
}
.fa-dice-d6 {
    font-size: 70px;
    margin-top: 2vh;
    color: rgba(176, 218, 255, 0.863);
    text-shadow: 2px 2px 1px #ee5959;
}

